@import "../node_modules/nprogress/nprogress.css";

#app {
	display: flex;
	overflow: hidden;

	aside {
		height: 100vh;
		display: flex;

		.sidebar {
			width: 50px;
			background: $primary-color;
		}

		& > .todos {
			width: 300px;
			display: flex;
			flex-direction: column;
			background: $secondary-color;
			border-right: $border-width solid $border-color;

			.unassigned-todos {
				flex: 1;
				padding: $layout-spacing 0;
			}

			.init-todo-category {
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
		}
	}

	main {
		display: flex;
		flex-direction: column;
		width: calc(100vw - 350px);

		.controls {
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		.week {
			width: calc(100vw - 50px);
			height: calc(100vh - 50px);
			display: grid;
			grid-template-columns: repeat(6, 14.28%);
			grid-template-rows: repeat(2, 50%);
			grid-template-areas:
			"monday tuesday wednesday thursday friday saturday"
			"monday tuesday wednesday thursday friday sunday";
			border-top: $border-width solid $border-color;

			& > div {
				h4 {
					font-size: $font-size-sm;
					text-transform: uppercase;
				}
			}

			& > .day {
				display: flex;
				flex-direction: column;
				border-right: $border-width solid $border-color;

				& > .draggable {
					flex: 1;
				}
			}

			& > .monday {
				grid-area: monday;
			}

			& > .tuesday {
				grid-area: tuesday;
			}

			& > .wednesday {
				grid-area: wednesday;
			}

			& > .thursday {
				grid-area: thursday;
			}

			& > .friday {
				grid-area: friday;
			}

			& > .saturday {
				grid-area: saturday;
				border-right: none;
				border-bottom: $border-width solid $border-color;
			}

			& > .sunday {
				grid-area: sunday;
				border-right: none;
			}
		}
	}

	aside,
	main {
		.tile {
			background: white;
			border: $border-width solid $border-color;
		}
	}
}
